<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<servlet>
		<servlet-name>Exceptions</servlet-name>
		<servlet-class>com.almoviesrenamer.ExceptionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Exceptions</servlet-name>
		<url-pattern>/exceptions</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Stats</servlet-name>
		<servlet-class>com.almoviesrenamer.StatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Stats</servlet-name>
		<url-pattern>/stats</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>RuleStats</servlet-name>
		<servlet-class>com.almoviesrenamer.RuleStatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RuleStats</servlet-name>
		<url-pattern>/rulestats</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>CheckNewVersion</servlet-name>
		<servlet-class>com.almoviesrenamer.CheckNewVersionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckNewVersion</servlet-name>
		<url-pattern>/checknewversion</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
